@import "tailwindcss";

html,
body,
#root {
	height: 100%;
}
/*
:root[data-theme="light"] {
	--text: #050315;
	--background: #fbfbfe;
	--primary: #2f27ce;
	--secondary: #dedcff;
	--accent: #433bff;
}
:root[data-theme="dark"] {
	--text: #ebe9fc;
	--background: #010104;
	--primary: #3a31d8;
	--secondary: #020024;
	--accent: #0600c2;
}

* {
	font-family: "Inter", sans-serif;
	color: var(--text);
	background-color: var(--background);
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.transactions-container {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.transactions {
	width: 80%;
	font-size: 1.6rem;
}

td {
	border: 1px solid black;
	padding: 5px;
}

.hover:hover {
	cursor: pointer;
}

.date-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
*/
